<div class="standard-view">
  <div class="band content">
    <div class="band-section">
      <h2>History</h2>
      <p>
      Dr. GORF was created as a side project of Chris Jellison (known for <i>Hello Geno</i>, <i>8bit My Head</i>) and Kevin Albert (nothing noteworthy) in 2006. The first album - the electronic epic Program 9 - was very poorly received. Regardless, Dr. GORF continued to create, and developed its core philosophy: The very best music is recorded in one take at 3 in the morning.
      </p>
      <p>
      Dr. GORF recorded the acapella EP the following year. It was released exclusively on MySpace, and has since been lost. If you find it please let us know.
      </p>
      <p>
      In December 2008, the holiday album "A Christmas Something" was released, combining the signature acapella style with real and synthesized instruments. Afterwards, Dr GORF stopped releasing music in lieu of writing and performing acapella jingles called "crimps" (inspired by <a target="_blank" href="http://www.bbc.co.uk/comedy/mightyboosh/">these guys</a>), and occasionally recorded songs but did not distribute them
      </p>
      <p>
      Almost 8 years later, Dr GORF began work on "Classic Times, Crazy Days", a compilation of singles recorded after "A Christmas Something" and new content. It is sheduled to be released in Spring 2016.
      </p>
    </div>
    <div class="band-section">
      <h2>Members</h2>
      <div class="left-panel">
        <div class="band-profile-pic-wrapper-left">
          <div class="band-profile-pic accordian">
          </div>
          <h3>Chris</h3>
          <p style="text-align: left">
          Keyboard, accordian, melody-horn, violin, drums.
          </p>
        </div>
      </div>
      <div class="right-panel">
        <div class="band-profile-pic-wrapper-right">
          <div class="band-profile-pic stick">
          </div>
          <h3>Kevin</h3>
          <p style="text-align: right">
          Guitar, banjo, ukelele, audio production.
          </p>
        </div>
      </div>
      <br style="clear: both" />
    </div>
    <div class="band-section">
      <h2>Influences</h2>
      <p>
      We have always been fans of progressive metal, chiptune music, and pretty much anything that sounds cool. 
      The Mighty Boosh introduced us to crimping and showed us that there is even weirder music out there.
      A few other artists we like:
      </p>
      <p style="font-style: italic">
      Dream Theater<br>
      Enter Shikari<br>
      9voltpenpal<br>
      Circa Survive<br>
      mewithoutYou<br>
      Mas Mas Mas!<br>
      Ayreon<br>
      Nicholas Zacherson<br>
      </p>
    </div>
  </div>
</div>
