<div class="standard-view">
  <div class="band content">
    <div class="band-section">
      <h2 id="dynamic-header">What We're About</h2>
      <p><img class="band-picture" src="beach.jpg" /></p>
      <p>Supple Congress was originally created as a side project of Chris Jellison (known for <i>Hello Geno</i>, <i>Light Shift</i>)
         and Kevin Albert (nothing noteworthy) in 2006.
         Our style is always changing, but our core philosophy remains the same.
      </p>
    </div>
    <div class="band-section">
      <h2>Chris</h2>
      <div class="band-profile-pic-wrapper">
        <div class="band-profile-pic accordian"></div>
      </div>
      <p>This is Chris. He's from Santa Cruz, CA. Chris writes most of our lyrics, and shreds any instrument with keys.
         Aside from Supple Congress, Chris has produced a number of chiptune albums on his own.</p>
      <p>His pants have been known to rip onstage, but that has never slowed him down.</p>
    </div>
    <div class="band-section">
      <h2>Kevin</h2>
      <div class="band-profile-pic-wrapper">
        <div class="band-profile-pic stick"></div>
      </div>
      <p>Hailing from Royal Oaks, CA, Kevin composes most of our music and plays guitar here and there.
         He once recorded a riff in 47/16.</p>
      <p>Kevin is best known for spontaneously having really good hair days.</p>
    </div>
    <div class="band-section">
      <h2>History</h2>
      <p>The first album - the 2006 electronic epic "Self-Titled" - was very poorly received. Regardless, Supple Congress continued to create, and developed its style.</p>
      <p>Supple Congress recorded their acapella EP the following year. It was released exclusively on MySpace, and has since been lost. If you find it please let us know.</p>
      <p>In December 2008, the holiday album "A Christmas Something" was released, combining the signature acapella style with real and synthesized instruments.
         Afterwards, Supple Congress stopped releasing music in lieu of writing and performing acapella jingles called "crimps" (inspired by <a target="_blank" href="http://www.bbc.co.uk/comedy/mightyboosh/">these guys</a>), and occasionally recorded songs but did not distribute them.</p>
      <p>Almost 8 years later, Supple Congress began work on "Classic Times, Crazy Days", a compilation of singles recorded after "A Christmas Something" and new content.
         It is sheduled to be released in 2016.</p>
    </div>
    <div class="band-section">
      <h2>Contact</h2>
      <p>Questions, complaints, and any other communication can go to:
        <a href="mailto:supplecongresstheband@gmail.com">supplecongresstheband@gmail.com</a>
      </p>
    </div>
  </div>
</div>
