    <!--
<div style="z-index: 4" class="parallax-group">
  <div class="parallax-layer parallax-layer-base">
    <div class="content bio-content">
      <h2>Who We Are</h2>
      <p>
      At its heart, Dr. GORF is just a couple of washed-up has-beens trying to re-live their glory days by recording ironically absurd music. But if you look past that, you'll find a beautiful tapestry of genre-transcending sonic poetry. 
      </p>
      <p> 
      From the distorted grungy punk stylings of "pFixie" to the explicit Gangsta-rap lyrics of "Rudolph the Red-Nosed Reindeer" - Dr. GORF has done it all, and will continue to do it all, long after people lose interest.
      </p>
        </div>
  </div>
</div>
  -->

<div style="z-index: 1" class="parallax-group">
    <div class="parallax-layer parallax-layer-back bio-img bio-img1"></div>
</div>

<div style="z-index: 5" class="parallax-group">
  <div class="parallax-layer parallax-layer-base">
    <div class="content bio-content">
      <h2>Hello!</h2>
      <p>We're a band named Dr. GORF. We've been making music under various titles for over 10 years</p>
      <p>
      At its heart, Dr. GORF is just a couple of washed-up has-beens trying to re-live their glory days by recording ironically absurd music.
      But if you look past that, you'll find a beautiful tapestry of genre-transcending sonic poetry. 
      </p>
      <p> 
      From the distorted grungy punk stylings of "pFixie" to the explicit Gangsta-rap lyrics of "Rudolph the Red-Nosed Reindeer" - Dr. GORF has done it all, and will continue to do it all long after people lose interest.
      </p>
    </div>
  </div>
</div>

<div style="z-index: 2" class="parallax-group">
    <div class="parallax-layer parallax-layer-back bio-img bio-img2"></div>
</div>

<div style="z-index: 6" class="parallax-group">
  <div class="parallax-layer parallax-layer-base">
    <div class="content bio-content">
      <h2>Our Name</h2>
      <p>Some people think GORF is an acronym. That is not true</p>
      <p>Chris found an arcade game at the boardwalk named <a href="https://en.wikipedia.org/wiki/Gorf">GORF</a>. 
      We immediately decided at that point that Dr. GORF would be our official band name</p>
    </div>
  </div>
</div>

<div style="z-index: 3" class="parallax-group">
    <div class="parallax-layer parallax-layer-back bio-img bio-img3"></div>
</div>
<div style="z-index: 8" class="parallax-group">
  <div class="parallax-layer parallax-layer-base">
    <div class="content bio-content">
      <p>The last of the content</p>
    </div>
  </div>
</div>
