    <!--
<div style="z-index: 4" class="parallax-group">
  <div class="parallax-layer parallax-layer-base">
    <div class="content bio-content">
      <h2>Who We Are</h2>
      <p>
      At its heart, Dr. GORF is just a couple of washed-up has-beens trying to re-live their glory days by recording ironically absurd music. But if you look past that, you'll find a beautiful tapestry of genre-transcending sonic poetry. 
      </p>
      <p> 
      From the distorted grungy punk stylings of "pFixie" to the explicit Gangsta-rap lyrics of "Rudolph the Red-Nosed Reindeer" - Dr. GORF has done it all, and will continue to do it all, long after people lose interest.
      </p>
        </div>
  </div>
</div>
  -->

<div style="z-index: 1" class="parallax-group">
    <div class="parallax-layer parallax-layer-back bio-img bio-img1"></div>
</div>

<div style="z-index: 5" class="parallax-group">
  <div class="parallax-layer parallax-layer-base">
    <div class="content bio-content">
      <h2>Hello!</h2>
      <p>We're a band named Dr. GORF. We've been making music under various titles for over 10 years</p>
      <p>
      At its heart, Dr. GORF is just a couple of washed-up has-beens trying to re-live their glory days by recording ironically absurd music.
      But if you look past that, you'll find a beautiful tapestry of genre-transcending sonic poetry. 
      </p>
      <p> 
      From the distorted grungy punk stylings of "pFixie" to the explicit Gangsta-rap lyrics of "Rudolph the Red-Nosed Reindeer" - Dr. GORF has done it all, and will continue to do it all long after people lose interest.
      </p>
    </div>
  </div>
</div>

<div style="z-index: 2" class="parallax-group">
    <div class="parallax-layer parallax-layer-back bio-img bio-img2"></div>
</div>

<div style="z-index: 6" class="parallax-group">
  <div class="parallax-layer parallax-layer-base">
    <div class="content bio-content">
      <h2>Our Name</h2>
      <p>Some people think GORF is an acronym, because we lead them to believe that it was.
      Actually, Chris found this arcade game at the Boardwalk:</p>
      <p>
      <a href="https://en.wikipedia.org/wiki/Gorf" target="_blank">
        <img src="img/gorf.jpg" alt="GORF arcade game"/>
      </a>
      </p>
    </div>
  </div>
</div>

<div style="z-index: 3" class="parallax-group">
    <div class="parallax-layer parallax-layer-back bio-img bio-img3"></div>
</div>
<div style="z-index: 8" class="parallax-group">
  <div class="parallax-layer parallax-layer-base">
    <div class="content bio-content">
      <h2>You're Still Reading?</h2>
      <p>We are still creating music and are also in the process of uploading everything to <a href="http://soundcloud.com/dr-gorf" target="_blank">soundcloud.com/dr-gorf.</a></p>
      <p>All of our music is 100% free to download, share, perform, and otherwise inflict on people.</p>
      <p>We guarantee that listening to our songs will challenge you to think hard about how you spend your time. 
         But don't take our word for it - check out what <a href="#reviews">our fans are saying</a>.</p>
    </div>
  </div>
</div>
